@using UI.Helpers
@model UI.Models.WcSearchViewModel

<div class="span3">
	@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @id = "search-form", @class = "search-form" }))
	{
		<fieldset class="search-form">
			<label for="Word">@Resources.SearchWordText</label>
			@Html.TextBoxFor(m => m.Word)
		</fieldset>
		<fieldset class="search-form">
			<label for="ColPosId">@Resources.SearchColPosText</label>
			@Html.DropDownList("ColPosId", Model.ColPosDropDownList, new { @class = "text fLeft" })
		</fieldset>
		<fieldset class="what fLeft">
			<button type="submit" id="btnSearch" name="btnSearch">@Resources.Search</button>
		</fieldset>
		<input type="hidden" id="wordRequired" value="@Resources.WordRequired" />
		<input type="hidden" id="colPosRequired" value="@Resources.ColPosRequired" />
	}
	@{
		Html.AddJavaScript("/js/searchbox_submit.js");
	}
</div>
